<h2 style="text-align: center">Editing Order</h2>
<div class="card container shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <%= render 'form', order: @order %> <%= link_to 'Details', @order,
    class:"btn btn-primary m-1" %>
    <a href="<%= orders_path %>" class="btn btn-secondary m-1"> Back </a>
  </div>
</div>
