<p id="notice"><%= notice %></p>




<h2 style="text-align: center">Category Details</h2>
<div class="card container shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <p>
      <strong>Sorry, category doesn't exist <i class="fas fa-frown"></i></strong>
    </p>
    <a href="<%= products_path %>" class="btn btn-secondary m-1">Back</a>
  </div>
</div>